.finder {
  grid-area: finder;

}

.pageNum {
  font-size: 1.3rem;
}

.pageNum:hover {
  cursor: pointer;
  color: blue;
}

.pageNumSelected {
  font-weight: bold;
}

.finder__preloader{
  margin: 5% 40%;
  max-width: 10rem;
}